* {
  color: black;
  background-color: #cfde4d;
  font-family: 'Roboto', sans-serif;
}

th {
  border: 2px solid black;
  text-align: center;
  background-color: grey;
  margin: 0%, 0%, 0%, 0%;
}
td {
  border: 1px solid black;
  text-align: center;
  margin: 0px, 0px, 0px, 0px;
  background-color: #F5BCA9;
}
div {
  border: 1px black solid;
  opacity: .9;
}
form {
  background-color: #F5BCA9;
  width: auto;
}

table{
  border: 2px black solid;
  background-color: #E6E6E6;
  padding: 0px 0px 0px 0px;

}

.logo{
  background-color: #81DAF5;
  width: 300px;

}

fieldset {
border: 2px #F5BCA9 solid;
width: auto;

}

input {
  text-align: left;
  font-size: 9px;
}
label {
  font-size: 14px;
}

.resizedNumberBox {
  width: 40px;
}

.salmon-fieldset{
  display: inline-block;
  padding: 1px;
}

.indexChinook{
background-color: #F5BCA9;

}
.linkBar li {
  display: inline-block;
  margin-right: 40px;
}

.linkBar {
  /*font-color: white;*/
  /*background-color: black;*/
  font-size: 15px;
}
.merchandise {
  width: 100px;
}
2div img {
  display: inline-block;
  display:
}
.cookie {
  width: 30px;
}
.fightingFish {
  text-align: left;
  margin-top: 0;
}

1div a {
  display: inline-block;
  margin-right: 100px;
}

.2div {
  width: 600px;
  border: 3px solid red;

}
